<div class="text-center">
  <% if current_user %>
    <h3>Nice to see you again, <%= current_user.username %>!</h3>
  <% else %>
    <h3>Welcome to Cruxer: Your Climbing Community!</h3>
    <p>Join Cruxer and connect with climbers and boulderers worldwide. Share your adventures, discover new routes, and be part of a supportive, passionate community. Let's climb together!</p>
  <% end %>
</div>